#@_layout()

#define _main()

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Wrapper -->
    <div id="wrapper" style="margin: auto;">
        <!-- Panel (Spotlight) -->
        <section class="panel color1">
            <div class="intro joined" style="margin-left: 50px;">
                <h2 class="major">
                    <p>地奥制药</p>
                </h2>
                <p>科技兴药，造福民众。</p>
            </div>
            <div class="inner" style="margin-left: 0px;">
                <div class="content span-3">
                    <h2 class="major" style="margin-top: -20px;">登录</h2>
                    <div class="span-2">
                        <form method="post" action="#(base)/diao/toLogin">
                            <div class="field ">
                                <label for="admin">用户名</label>
                                <input type="text" name="admin"
                                       placeholder="请输入用户名" id="admin"/>
                            </div>
                            <div class="field ">
                                <label for="pass">密码</label>
                                <input type="password" id="pass"
                                       placeholder="请输入密码" name="pass"/>
                            </div>
                            <ul class="actions" style="margin: 0 auto; margin-top: 20px;">
                                <li><input type="submit" value="登录" class="button special"
                                           style="font-size: 1.0em;"/></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

#end

