<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htwinkle.we.mapper.JwglMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.htwinkle.we.entity.Jwgl">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="admin" property="admin"/>
        <result column="pass" property="pass"/>
        <result column="name" property="name"/>
        <result column="cookies" property="cookies"/>
        <result column="tip" property="tip"/>
        <result column="veri_code" property="veri_code"/>
        <result column="dates" property="dates"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, admin, pass, name, cookies, tip,veri_code, dates
    </sql>

</mapper>
