#define _layout()
<!DOCTYPE HTML>
<html>
<head>

    <title>#(title??)</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="#(base)/images/logo.png"
          sizes="16x16"/>

    <!-- css -->
    <link rel="stylesheet" href="#(base)/assets/css/main.css"/>
    <link rel="stylesheet" href="#(base)/assets/css/jquery.toast.min.css"/>
    <!-- Scripts -->

    <!-- javscript -->
    <script src="#(base)/assets/js/jquery.min.js"></script>


    <script>
        var TipMsg = '#(TipMsg??)';
    </script>

</head>
<body class="is-preload">

#@_main()
#if(!indexPage??)
    #@_toolBox()?
#end

<script src="#(base)/assets/js/skel.min.js"></script>
<script src="#(base)/assets/js/main.js"></script>
<script src="#(base)/assets/js/jquery.toast.min.js"></script>
<script src="#(base)/assets/js/main_web.js"></script>


</body>
</html>
#end

