#define _toolBox()

<link href="//apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="tool-box">
    <div class="tool-box-app back-to-home">
        <a href="/"><i class="fa fa-home"></i></a></div>
</div>

<style>
    .tool-box {
        position: fixed;
        z-index: 9999;
        top: 92%;
        margin-left: 94%;
        cursor: pointer;
    }

    .tool-box-app {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        background: #fff;
    }

    .back-to-home {
        background: #0d5aa7;
    }
</style>

#end